<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>表格跨行/跨列</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    </head>

    <body>
        <table border="1">
            <thead>
                <tr>
                    <th rowspan="4" colspan="1">姓名</th>
                    <th rowspan="1" colspan="5">Mark</th>
                </tr>
                <tr>
                    <th rowspan="1" colspan="4">红绿灯</th>
                    <th rowspan="3" colspan="1">警示牌</th>
                </tr>
                <tr>
                    <th rowspan="2" colspan="1">v1</th>
                    <th rowspan="2" colspan="1">v2</th>
                    <th rowspan="1" colspan="2">v3</th>
                </tr>
                <tr>
                    <th rowspan="1" colspan="1">v3.1</th>
                    <th rowspan="1" colspan="1">v3.2</th>
                </tr>
            </thead>
            <tr>
                <td>张三</td>
                <td>√</td>
                <td>√</td>
                <td>×</td>
                <td>√</td>
                <td>√</td>
            </tr>
        </table>
    </body>
</html>
